<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058854693075-56soh38p0gu99v2b8t7c45cnv6ghb5as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058854693075-56soh38p0gu99v2b8t7c45cnv6ghb5as</string>
	<key>API_KEY</key>
	<string>AIzaSyATWREeRKqwKVvRDdnAGDtrPfT8zCAPT2M</string>
	<key>GCM_SENDER_ID</key>
	<string>1058854693075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-13577</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-13577.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058854693075:ios:c4d5c08d0d03a97d1c0c26</string>
</dict>
</plist>